body{
	

}
.headertop{
	width: 1100px;
	height: 50px;
	padding: 5px 0;
	margin: 0 auto;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-between;
}
.headertop a img{
	width: 185px;
	height: 46px;
}
.headertop a:nth-of-type(2){
	line-height: 50px;
}


section{

}
.sectiontop{
	width: 1200px;
	height: 530px;
	background: url(../img06/bjt001.jpg) no-repeat 180px 120px;
	margin: 0 auto;
	position: relative;
}
.sectiontop .zhuceyou{
	width: 400px;
	height: 470px;
	position: absolute;
	right: 100px;
	margin: 30px 0;
}
.sectiontop .zhuceyou .fkdenglu{
	display: flex;
	border-bottom: 2px dashed #e4e4e4;
}

.sectiontop .zhuceyou .fkdenglu span:nth-of-type(1){
	font-size: 22px;
	color: gray;
	font-weight: 600;
	line-height: 64px;
}
.sectiontop .zhuceyou .fkdenglu span:nth-of-type(2){
	font-size: 12px;
	color: #a0a094;
	line-height: 64px;
	margin-left: 140px;
}
.sectiontop .zhuceyou .fkdenglu span:nth-of-type(4){
	font-size: 12px;
	color: #a0a094;
	line-height: 64px;
	margin-left: 120px;
	display: none;
}
#zchdl{
	font-size: 12px;
	color: #b52026;
	line-height: 64px;
	cursor: pointer;
}
#zchdl02{
	font-size: 12px;
	color: #b52026;
	line-height: 64px;
	cursor: pointer;
	display: none;
}

#qiehuan{
	display: flex;
}
#qiehuan span{
	flex: 1;
	height: 35px;
	background: #f3f3f3;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
}
#qiehuan span:nth-of-type(1){
	background: #b82c22;
	color: white;
}
.dwhz{
	position: relative;
}
#boxcheck01{
	display: block;
}
#boxcheck02{
	display: none;
}
#boxcheck02 input{
	margin: 5px auto;
	width: 386px;
	height: 45px;
	color: #a0a094;
	outline-style: none;
	padding-left: 5px;
}
#boxcheck02 input:nth-of-type(1){
	width: 60%;
}
#boxcheck02 input:nth-of-type(2){
	width: 35%;
	cursor: pointer;
}
#boxcheck02 input:nth-last-of-type(2){
	width: 20px;
	vertical-align: middle;
}
#boxcheck02 a{
	color: #b52026;
	font-weight: 600;
}
#boxcheck02 input:nth-last-of-type(1){
	width: 395px;
	color: #ffffff;
	background: #a0a094;
	border: none;
}


table{
	width: 100%;

}
#boxcheck01 input{
	display: block;
	width: 360px;
	height: 45px;
	color: #a0a094;
	margin: 10px auto;
	outline-style: none;
	padding-left: 5px;
}
#boxcheck01 #zhaohuimm{
	float: right;
	color: #b82c22;
	margin-right: 20px;
}
#boxcheck01 input:nth-last-of-type(1){
	margin: 25px auto;
	font-size: 20px;
	color: white;
	background: #b52026;
	border: none;
	cursor: pointer;
}
#boxcheck01 input:nth-last-of-type(1):hover{
	font-weight: 600;
}
#boxcheck01 .qitadl{
	padding: 10px 0 0 20px;
	color: #a0a094;
	line-height: 30px;
	border-top: 2px dashed #e4e4e4;
}
#boxcheck01 .qitadl a{
	float: left;
	margin: 0 5px;
}


#box2{

}

footer{
	width: 1100px;
	padding: 5px 0;
	margin: 0 auto;

}

#boxelse{

}